<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marginades</title>
    <style>
    
      body {
        background-image: url(<%= asset_path 'rainbow-bg.jpg' %>);
        background-color: #cccccc;
        background-size: cover;
      }


      .content-container {
        width: 70%; /* Set width to cover most of the body */
        margin: 50px auto; /* Center the container horizontally */
        border: 5px solid white; /* White border */
        background-color: #FFC0CB; /* Pink background */
        padding: 20px; /* Add some padding inside the container */
        color: white; /* White text color */
        text-align: center; /* Center-align text */
      }

      
      
      
    </style>
</head>




<body>
<div class="content-container">
  <!-- Content goes here -->
  <h1>Welcome to Marginades</h1>
  <p>This is your about page content...</p>
</div>

</body>
</html>